<div class="modal-header"> 
    <h4 class="modal-title">{{modalTitle}}</h4>
</div>
<div class="modal-body"> 
    <div class="container"> 
        <form [formGroup]="formEtudiant"> 
            <div class="mb-3">
                <label class="form-label" for="nom">Nom</label>
                <input [(ngModel)]="studentData.nom" class="form-control" id="nom" formControlName="nom" type="text">
                <div *ngIf="formEtudiant.get('nom')?.invalid && formEtudiant.get('nom')?.touched" class="text-danger">
                   ce champ est requis
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="prenom">Prenom</label>
                <input  [(ngModel)]="studentData.prenom" class="form-control" id="prenom" formControlName="prenom" type="text">
                <div *ngIf="formEtudiant.get('prenom')?.invalid && formEtudiant.get('prenom')?.touched" class="text-danger">
                    ce champ est requis
                </div>
            </div>
            <div class="mb-3"> 
                <label class="form-label" for="dateNaiss">Date de naissance</label>
                <input  [(ngModel)]="studentData.dateNaiss" class="form-control" id="dateNaiss" formControlName="dateNaiss" type="date">
                <div *ngIf="formEtudiant.get('dateNaiss')?.invalid && formEtudiant.get('dateNaiss')?.touched" class="text-danger">
                    ce champ est requis
                </div>
            </div>
            <div class="mb-3"> 
                <label class="form-label" for="classe">Classe</label>
                <select [(ngModel)]="studentData.classe" class="form-select" id="classe" formControlName="classe">
                    <option value="" disabled selected>Choix Classe</option>
                    <option value="L1">L1</option>
                    <option value="L2">L2</option>
                    <option value="L3">L3</option>
                    <option value="M1">M1</option>
                    <option value="M2">M2</option>
                </select>  
                <div *ngIf="formEtudiant.get('classe')?.invalid && formEtudiant.get('classe')?.touched" class="text-danger">
                    ce champ est requis
                </div> 
            </div>
        </form>
    </div> 
    <div  class="modal-footer">
        <button (click)="onSubmit()" type="button" class="btn btn-success" [disabled]="!formEtudiant.valid" >Enregistrer</button>
    </div> 
</div>